<div><h2 class="text-info p-3 text-center">{{aim}}</h2></div>
<div class="center">
    <h1>Login Form</h1>
    <form method="post">
        <div class="txt_field">
            <input #acno type="text" name="acno" id="acno" [placeholder]="data">
            <label>Account Number</label>
        </div>
        <div class="txt_field">
            <input #psw type="password" name="psw" id="psw">
            <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input  type= "submit" value="LOGIN" (click)="login(acno,psw)">
        <div class="signup_link">
            Not a member?<a href="#">Register now</a>
        </div>

    </form>

</div>
